<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartbowlapp">
    <!-- Make sure phone uses a cam lol -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- And permissions to r/w to storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartBowlApp">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayEntryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MealEntryActivity"
            android:parentActivityName=".DayEntryActivity" />
        <activity
            android:name=".FoodEntryActivity"
            android:parentActivityName=".MealEntryActivity"/>
        <activity
            android:name=".CameraActivity"
            android:parentActivityName=".FoodEntryActivity" />
    </application>

</manifest>